.root {
    background: linear-gradient(45deg, #ff00ff, #00ffff, #ffff00, #ff00ff);
    background-size: 400% 400%;
    animation: gradientShift 10s ease infinite;
    padding: 10px 0;
    margin-bottom: 30px;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    background-color: black;
    color: #fff;
    font-weight: 700;
    line-height: 35px;
    text-transform: uppercase;
    letter-spacing: 0.15px;
    border-radius: 5px;
    padding: 0 10px;
    text-decoration: none;
    &:hover {
        background-color: #4361ee;
        transition: all 500ms;
    }
}

.nav {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.headerNav {
    font-size: 26px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    &:hover {
        color: rgb(67, 97, 238);
        transition: all 500ms;
    }
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    button {
        margin-left: 0;
    }
    a {
        text-decoration: none;
    }
}

@media (max-width: 768px) {
    .inner {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav {
        justify-content: center;
        width: 100%;
        margin-top: 10px;
    }
    .buttons {
        justify-content: center;
        width: 100%;
        margin-top: 10px;
    }
    .logo {
        margin: 0 auto;
    }
}

@media (max-width: 480px) {
    .headerNav {
        font-size: 26px;
    }
    .logo {
        font-size: 24px;
        padding: 5px 10px;
    }
    .buttons {
        display: block;
        flex-direction: column;
        align-items: center;
    }
    .buttons button {
        width: 100%;
        margin: 5px 0;
    }
}