// Login.module.scss
.root {
    width: 100%;
    max-width: 400px;
    padding: 50px;
    border: 1px solid #dedede;
    margin: 50px auto;
    @media (max-width: 768px) {
        padding: 30px;
    }
    @media (max-width: 480px) {
        padding: 20px;
        margin: 20px auto;
    }
}

.field {
    margin-bottom: 20px !important;
    @media (max-width: 480px) {
        margin-bottom: 15px !important;
    }
}

.title {
    text-align: center !important;
    font-weight: bold !important;
    margin-bottom: 30px !important;
    @media (max-width: 480px) {
        margin-bottom: 20px !important;
    }
}

.avatar {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    @media (max-width: 480px) {
        margin-bottom: 20px;
    }
}